<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Customer Management</h4>
            <p class="card-category">Manage customers list</p>
          </div>

          <div class="card-body">
            
            <form [formGroup]="customerForm" (ngSubmit)="save()">
              
              <div class="row">
                
                <div class="col-md-4" *ngIf="isUpdate">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Customer Code (Should be 11 Chars)" type="text" formControlName="customerCode">
                    <mat-hint align="end">{{customerForm.get('customerCode').value?.length || 0}}/11</mat-hint>
                    <mat-error *ngIf="customerForm.get('customerCode').hasError('minlength') || customerForm.get('customerCode').hasError('maxlength')">
                        Kod tam 11 karakter olmalıdır.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div [ngClass]="isUpdate ? 'col-md-8' : 'col-md-6'">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Customer Name" type="text" formControlName="customerName">
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="!isUpdate">
                   <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" type="email" formControlName="email">
                   </mat-form-field>
                </div>

              </div>

              <div class="row">
                 <div class="col-md-6" *ngIf="isUpdate">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" type="email" formControlName="email">
                    </mat-form-field>
                 </div>
                 
                 <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Phone Number" type="tel" formControlName="phoneNumber">
                    </mat-form-field>
                 </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Address" type="text" formControlName="address">
                    </mat-form-field>
                  </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="customerForm.invalid">
                {{ isUpdate ? 'Update' : 'Add' }}
              </button>
              <button *ngIf="isUpdate" mat-button (click)="clearForm()" type="button" class="btn btn-sm pull-right">Cancel</button>
              <div class="clearfix"></div>
            </form>

            <hr>

            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Code</th>
                  <th>Name</th>
                  <th>Info</th>
                  <th>Address</th>
                  <th class="text-right">Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of customerList">
                    <td><span class="badge badge-info">{{ item.customerCode }}</span></td>
                    <td>{{ item.customerName }}</td>
                    <td>{{ item.email }}<br>{{ item.phoneNumber }}</td>
                    <td>{{ item.address }}</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" (click)="updateCustomer(item)" 
                              class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" (click)="deleteCustomer(item.id)" 
                              class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>