<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
        <div class="card">
          
          <div class="card-header card-header-danger">
            <h4 class="card-title">Color Management</h4>
            <p class="card-category">Manage product colors definitions</p>
          </div>

          <div class="card-body">

            <form [formGroup]="pColorForm" (ngSubmit)="save()">
              <div class="row">
                
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Color Name (e.g. Metallic Blue)" type="text" formControlName="name">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="color" formControlName="hexCode" style="cursor: pointer; height: 40px;">
                    <span matSuffix>Pick Color</span>
                  </mat-form-field>
                </div>
                
                <div class="col-md-1 d-flex align-items-center">
                    <small>{{ pColorForm.get('hexCode').value }}</small>
                 </div>

                <div class="col-md-2 text-right">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="pColorForm.invalid">
                    {{ isUpdate ? 'Update' : 'Add' }}
                  </button>
                  <button *ngIf="isUpdate" mat-button (click)="clearForm()" type="button" class="btn btn-sm">Cancel</button>
                </div>

              </div>
            </form>
            <div class="clearfix"></div>
            <hr> <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Hex Code</th>
                  <th>Preview</th>
                  <th class="text-right">Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pColorList">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.hexCode }}</td>
                    <td>
                      <div class="color-box" [style.background-color]="item.hexCode"></div>
                    </td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" (click)="updatePColor(item)" 
                              matTooltip="Edit Color" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" (click)="deletePColor(item.id)" 
                              matTooltip="Delete Color" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          
          <div class="card-footer">
             <button mat-stroked-button (click)="closeDialog()">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>